.homeWrapper {
  display: flexbox;
  max-width: 100vw;
  background: rgb(49, 24, 23);
}

.header {
  display: flex;
}

.logoBox {
  max-width: 400px;
  height: 80px;
  margin-top: 10px;
  margin-left: 10px;
}

.logo {
  width: 100%;
  height: 100%;
}

.bannerBox {
  max-width: 100%;
  margin-top: 10px;
  height: 500px;
  overflow-y: hidden;
}
