@use "@css/variables" as variables;
@use "@css/mixins" as mixins;
@use "@css/responsives" as responsives;


.nav {
    @include mixins.flex_container(row, space-between, flex-start);
    width: 100%;
    list-style-type: none;
    margin-top: 1em;
    margin-bottom: 2em;
}
