$font-oswald: "Oswald", Arial, Helvetica, sans-serif;
$font-oswald-light: "Oswald-Light", Arial, Helvetica, sans-serif;
$font-montserrat: "Montserrat", Arial, Helvetica, sans-serif;
$font-stolzl: "Stolzl", Arial, Helvetica, sans-serif;
